.blockMsg {
  border: none !important;
  background: transparent !important;
}

.loader {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #d3d3d3;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.loader:before {
    content: "";
    height: 69px;
    width: 69px;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 33px);
    border-width: 7px;
    border-style: solid;
    border-color: #d3d3d3;
    border-right-color: #2F4F4F;
    border-radius: 50%;
    animation: spinner .75s infinite linear;
}

@keyframes spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}